<h1><%= @restaurant.name %></h1>
<%= link_to "Write a review", new_restaurant_review_path(@restaurant.id) %>
<% @reviews.each do |review| %>
  <p><%= review.rating %><%= review.content %></p>
  <hr>
<% end %>
